*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
        }
body{
    background-color: #050E3C;
    color: white;
        }
.product-detail-container{
    width: 80%;
    margin: auto;
    margin-top: 50px;
   
}
.product-detail{
    display: grid;
     gap: 40px;

    grid-template-columns: repeat(2,1fr);
}
.product-image img{
    width: 100%;
    height: 500px;
    object-fit:contain;
}
.product-info h2{
    font-size: 28px;
    color: white;
    margin-bottom: 10px;
}
.product-info .price{
    margin-bottom: 20px;
    font-size: 22px;
}
.product-info .description{
    color: white;
    margin-bottom: 30px;
}

.quantity input{
    width: 60px;
    padding: 4px 8px;
    border: none;
    border-radius: 8px;
}
.add-more{
    margin-top: 20px;
    font-size: 1px;
    display: flex;
    gap: 10px;
}
.btn-plus{
    background-color: green;
    color: white;
    width: 30px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
}
.btn-minus{
    background-color: red;
    color: white;
    width: 30px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
}
[data-lucide="shopping-cart"]{
    width: 15px;
    height: 15px;
}
.buttons{
    margin-top: 30px;
}
.btn-addcart{
    background-color: orange;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;

}
.btn-addcart:hover{
    background-color: darkorange;
}
.btn-buy{
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 20px;
}
.btn-buy:hover{
    background-color: darkred;
}